@page "/feedbacks/add"

@using FeedbackApp
@inject FeedbackApp.FeedbackState FeedbackState

@code {
    Feedback feedback = new Feedback();

    private async Task HandleValidSubmit() {
        await FeedbackState.SaveFeedbackAsync(new List<Feedback> { feedback });
        Console.WriteLine("Feedback submitted.");
        feedback = new Feedback();
    }
}

<EditForm Model="feedback" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label for="name">Name:</label>
        <InputText id="name" @bind-Value="feedback.Name" class="form-control" />
        <ValidationMessage For="(() => feedback.Name)" />
    </div>

    <div>
        <label for="email">Email:</label>
        <InputText id="email" @bind-Value="feedback.Email" class="form-control" />
        <ValidationMessage For="(() => feedback.Email)" />
    </div>

    <div>
        <label for="comment">Comment:</label>
        <InputText id="comment" @bind-Value="feedback.Comment" class="form-control" />
        <ValidationMessage For="(() => feedback.Comment)" />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

</EditForm>