@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to Blazor Performance App</h1>

@if(IsDataLoaded)
{
    <HybridComponent />
} else
{
    <button @onclick="LoadData">Load Data</button>
}

@code
{
    private bool IsDataLoaded = false;

    private void LoadData()
    {
        IsDataLoaded = true;
    }
}